{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}

{% block body %}
	<div class="p-4 text-center">
		<h1>Accueil</h1>
	</div>
	<div class="justify-content-center py-5">
		<h2 class="border-bottom border-2 border-dark pb-2 ms-2 text-dark">Les différentes catégories</h2>
		<div class="row">
			{% for category in categories %}
				<div class="col-lg-6 col-md-6 py-2 ">
					<div
						class="card m-2 shadow-sm">
						{# <img src="{{ vich_uploader_asset(event) }}" alt="{{"photographie de " ~ event.title }}" class="imgCards card-img-top"> #}
						<div class="card-body">
							<h5 class="text-truncate card-title text-center">{{ category.name }}</h5>
							<p class="text-truncate card-text text-center text-truncate">{{ category.catchPhrase }}</p>
							{# <a href="{{ path('event_show', { slug: event.slug }) }}" class="btn btn-primary d-block mx-auto">Voir les projets</a> #}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>{% endblock %}
